@use '../abstracts/variables' as var;

header {
    background-color: var.$couleur-principale;
    font-family: var.$police-principale;
    padding: 1%;
    .nav {
        display: flex;
        justify-content: space-around;
        gap: 20%;
        img {
            height: 50px;
        }
        nav {
          ul {
            display: flex;
            flex-direction: row;
            gap: 10%;
          }
            li {
                a {
                color: var.$white;
                }
                .btn {
                    border: 1px solid var.$couleur-principale;
                    background-color: var.$couleur-secondaire;
                }   
            }
        }
    }
}