@use '../abstracts/variables' as var;

#products {
    .productcontainer {
        text-align: center;
        margin-top: 5%;

        h2 {
            color: var.$couleur-secondaire;
            font-size: 2rem;
        }

        p {
            color: var.$white;
            margin-bottom: 3%;
        }
    }

    .cards {
        display: flex;
        
        .card {
            width: 25%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding-top: 20%;

            &.eoe {
                background-image: url("../img/bfheuakyrubvwr448i.webp");
            }

            &.tarkir {
                background-image: url("../img/Bniwbiedb2.webp");
            }

            &.fondations {
                background-image: url("../img/BbvlL835T_CMM_420x700.webp");
            }

            &.innistrad {
                background-image: url("../img/Cwtyiugh346-420x700.webp");
            }
        }

        .card-content {
            h2 {
                color: var.$white;
                text-align: center;
                padding: 0 10%;
                font-size: 2rem;
            }
        }

        .card-img {
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}